<div class="banner-hero">
  <div class="row">
    <div id="container" class="container">
      <ul id="scene" class="scene">
        <li class="layer" data-depth="0.80"><img src="assets/0.png"></li>
        <li class="layer" data-depth="0.65"><img src="assets/1.png"></li>
        <li class="layer" data-depth="0.40"><img src="assets/3.png"></li>
        <li class="layer" data-depth="0.30"><img src="assets/2.png"></li>
      </ul>
    </div>
      <%= image_tag "line.png", :class => "style_line"%>
      <h3>WEB DEVELOPER | DESIGNER | SEO</h3>
      <a href="#info"><img src="/assets/arrow.png" class="arrow"></a>
  </div>
</div>
<div id="info">
<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">ABOUT / ME</a>
    <div id="panel1" class="content">
      <div class="container-about">
        <p>
          Hallo! My name is Dhanto Santika Yudha and I am a full-time freelance web developer who specializes in creating dynamic and awesome web pages. I use Ruby on Rails to create basic web applications and most of the time I do Front End Development. Currently I am based in Jakarta, and often travel to Bali. Check out the links below to see what I have been up to lately.
        </p>
      <hr>
        <h4>"From Marketing to Development"</h4>
        <p>So, I was a full-time marketer who expanded market size and maintained key accounts for two and a half years. I started learning web development and programming in my spare time to complement my degree in E-Business and Management from Monash University. After learning web development for almost 2 years, I decided to pursue a career in web development and digital industry. Below is one of the quotes that made me realized to follow my passion.</p>
        <div class="large-10 small-centered column">
      <blockquote>
        <p>"Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma — which is living with the results of other people’s thinking. Don’t let the noise of others’ opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary." -Steve Jobs</p>
      </blockquote>
      </div>
      <p>Currently I am honing my front end development skills and use Ruby on Rails whenever I have the chance to implement it in my projects. When I am not in front of my computer designing, I jog and I do scuba diving! Thank you for reading this far. If you are in need of a new website, redesign web pages, or basic web applications, please don't hesitate to get in touch!
      </p>
      </div>
    </div>
  </dd>
  <dd>
    <a href="#panel2">SKILLS / EXPERIENCES</a>
    <div id="panel2" class="content">
      <div class="container-skill">
          <ul class="skill-list">
            <li class="skill">
              <h2>CSS3</h2>
              <progress class="skill-1" max="100" value="80">
                <strong>Skill Level: 80%</strong>
              </progress>
            </li>
            <li class="skill">
              <h2>HTML5</h2>
              <progress class="skill-2" max="100" value="90">
                <strong>Skill Level: 90%</strong>
              </progress>
            </li>
            <li class="skill">
              <h2>Ruby on Rails</h2>
              <progress class="skill-3" max="100" value="40">
                <strong>Skill Level: 40%</strong>
              </progress>
            </li>
            <li class="skill">
              <h2>Social Media Marketing</h2>
              <progress class="skill-4" max="100" value="75">
                <strong>Skill Level: 75%</strong>
              </progress>
            </li>
            <li class="skill">
              <h2>Adobe Photoshop</h2>
              <progress class="skill-5" max="100" value="70">
                <strong>Skill Level: 70%</strong>
              </progress>
            </li>
            <li class="skill">
              <h2>UX</h2>
              <progress class="skill-6" max="100" value="40">
                <strong>Skill Level: 40%</strong>
              </progress>
            </li>
          </ul>
      </div>
    </div>
  </dd>
  <dd>
    <a href="#panel3">GALLERY / PORTFOLIO</a>
    <div id="panel3" class="content">
      <div class="container-gallery">
        <ul class="clearing-thumbs small-block-grid-4" data-clearing>
          <li><a href="assets/jdigital-1-page.png"><img data-caption="Flat Design Mockup Website j.digital Multimedia Company" src="assets/jdigital-1.png"></a></li>
          <li><a href="assets/jdigital-2-page.png"><img data-caption="Mockup Website j.digital Multimedia Company" src="assets/jdigital-2.png"></a></li>
          <li><a href="assets/geolspage.png"><img data-caption="Website for GeoLS Pte Ltd" src="assets/geolslogo.png"></a></li>
          <li><a href="assets/kakipage.png"><img data-caption="Landing Page for kakicollection.com" src="assets/kakilogo.png"></a></li>
        </ul>
      </div>
    </div>
  </dd>
  <dd>
    <a href="#panel4">SNIPPETS / MISC.</a>
    <div id="panel4" class="content">
      <div class="container-misc">
        <ul class="clearing-thumbs small-block-grid-3" data-clearing>
          <li><a href="assets/food-img.jpg"><img data-caption="Grilled Squid at Menega - May, 2014" src="assets/eat.png"></a></li>
          <li><a href="assets/read-img.jpg"><img data-caption="Recently Read Books - May, 2014" src="assets/read.png"></a></li>
          <li><a href="assets/travel-img.jpg"><img data-caption="Bali Beach - May, 2014" src="assets/travel.png"></a></li>
        </ul>
        </div>
      </div>
    </div>
  </dd>
</dl>
<div class="footer-hero">
  <div class="large-6 small-centered columns">
      <div class="row-footer">
        <%= image_tag "self.png" %>
        <br />
        <%= image_tag "line.png", :class => "style_line"%>
        <h2>Dhanto S. Yudha</h2>
      </div>
        <div class="social">
        <ul>
          <li><a href="mailto:d.santika.yudha@gmail.com" target="blank"><img src="/assets/email.png" /></a></li>
          <li><a href="http://instagram.com/dhantosy" target="blank"><img src="/assets/instagram.png" /></a></li>
          <li><a href="http://sg.linkedin.com/in/dhantosy/" target="blank"><img src="/assets/linkedin.png" /></a></li>
          <li><a href="https://www.facebook.com/dhantosy" target="blank"><img src="/assets/facebook.png" /></a></li>
        </ul>
      </div>
  </div>
</div>
