/*************************
GENERAL
*************************/

h4 {
  font-family: 'Roboto Slab', serif;
}

.banner-hero {
  background-image: url("/assets/banner.png");
  background-attachment: fixed;
  background-position: center;
  height: 850px;
  background-color: #000000;
  background-repeat: no-repeat;
}

.style_image {
  margin-top: 45px;
}

.style_line {
  margin-top: 0px;
  clear: both;
}

.row {
  text-align: center;
  padding-top: 25px;
}

.arrow {
  margin-top: 50px;
}

.row h3 {
  color: #f5f5f5;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  margin-top: 25px;
  text-shadow: 1px 1px 1px #000;
}


/*************************
FOOTER
*************************/

.footer-hero {
  background-color: #000000;
  background-image: url("/assets/footercopy.png");
  background-attachment: fixed;
  background-position: center;
  height: 850px;
  background-repeat: no-repeat;
}

.row-footer {
  padding-top: 200px;
  text-align: center;
}

.row-footer h2 {
  color: #f5f5f5;
  font-family: 'Josefin Slab', serif;
  margin-top: 25px;
  text-shadow: 1px 1px 1px #000;
}

.large-6 {
  float: center;
}

.panel.callout.radius h1 {
  color: #F5F5F5;
  font-family: 'Josefin Slab', serif;
}

.panel.callout.radius h4 {
  color: #F5F5F5;
  font-family: 'Josefin Slab', serif;
}

.panel.callout.radius {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  border-style: none;
}

.inline-list {
  position: relative;
  overflow: visible;
  float: left;
  left: 50%;
}

.inline-list > li {
  position: relative;
  right: 50%;
}

.social {
  margin-top: 20px;
  text-align: center;
}
.social li {
  display: inline-block;
  margin-right: 15px;
}

/*************************
LOGO PARALLAX
*************************/

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}

.scene {
  padding: 0;
  margin: 0;
}

img {
  width: auto;
}


input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

/*************************
ACCORDION
*************************/

.accordion {
  font-family: 'Roboto Slab', serif;
  color: #222222;
}

.accordion dd > a {
  font-size: 2em;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  text-align: center;
  background-color: #F5F5F5;
}

.accordion dd > a:hover {
  background-color: #E0E0E0;
}

.accordion dd.active a {
  background-color: white;
}

.container-about {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.container-skill {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.container-gallery {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.container-misc {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}



/*************************
PROGRESS BAR
*************************/

progress, progress[role] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-size: auto;
  height: 45px;
  width: 100%;
}

// The unordered list
.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

// The list item
.skill {
  margin-bottom: 1em;
  position: relative;
  h2 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
    left: 1em;
    top: 0.3em;
    position: absolute;
  }
  ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }
}

// The background colors
.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
  background: #ff6b6b;
}

.skill-3::-moz-progress-bar {
  background: #ff6b6b;
}

.skill-4::-webkit-progress-value {
  background: #3498db;
}

.skill-4::-moz-progress-bar {
  background: #3498db;
}

.skill-5::-webkit-progress-value {
  background: #9b59b6;
}

.skill-5::-moz-progress-bar {
  background: #9b59b6;
}

.skill-6::-webkit-progress-value {
  background: #019875;
}

.skill-6::-moz-progress-bar {
  background: #019875;
}

 // The keyframes
@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}

/*************************
GALLERY
*************************/


